fieldset {
  border: 1px solid #1d4b37;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #f9f9f9;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  font-size: 1rem;
  background: white;
}

button {
  background-color: #1d4b37;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #2f7253;
}

@media (max-width: 900px) {

  nav {
    padding: 12px 18px;
  }

  nav ul {
    gap: 18px;
    flex-wrap: wrap;
  }

  nav li a {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {

  nav {
    padding: 14px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  nav li {
    width: 100%;
    text-align: center;
  }

  nav li a {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }


  .dropdown {
    width: 100%;
  }

  .dropbtn {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
  }

  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
    margin-top: 6px;
  }

  .dropdown-content a {
    text-align: center;
  }
}