
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body {
    background-color: #f7f7f7;
    color: #333;
}

.topo-fixo {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0f3d2e;
}

.topo {
  background-color: #0f3d2e;
  padding: 15px 8%;
}

.topo-conteudo {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.busca {
    flex: 1;
}

.busca input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.acoes {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 12px 8%;
  background-color: #0f3d2e;
  border-top: 1px solid rgba(255,255,255,0.1);
  justify-content: center;
}

.menu a {
    margin: 0 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.menu a:hover {
    color: #3cff00;
}

.inicio {
  background: linear-gradient(
    135deg,
    #0f3d2e 0%,
    #1f6f55 50%,
    #5ed3a1 100%
  );
  padding: 80px 8%;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.inicio-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.texto-inicio {
  max-width: 500px;
}

.texto-inicio h2 {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.texto-inicio p {
  color: #e5f4ef;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 1.1rem;
}

.img-lp {
  position: relative;
  z-index: 1;
  max-width: 600px;
  animation: floatImage 4s ease-in-out infinite;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
}

.img-lp img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes floatImage {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@media (max-width: 768px) {
  .img-lp {
    width: 100%;
    height: 220px;
  }
}

.beneficios-inicio {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
}

@media (max-width: 768px) {
  .beneficios-inicio {
    flex-direction: column;
  }
}

.beneficio {
  background: rgb(33, 241, 5);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease;
  flex: 1;
}

.beneficio {
  animation: revelar 7s ease forwards;
}

@keyframes revelar {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.beneficio:hover {
  transform: translateY(-6px);
}

.beneficio h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}

.beneficio p {
  font-size: 0.95rem;
  opacity: 0.9;
  color: black;
}

.container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
}


.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    height: fit-content;
}

.sidebar h2 {
    font-size: 18px;
    color: #1d4b37;
    margin-bottom: 15px;
}

.sidebar label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.produto {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.15);
}

.produto img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
    min-height: 42px;
    color: #333;
}

.preco-antigo {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    color: #1d4b37;
    margin: 6px 0 15px;
}

.produto button {
    width: 100%;
    padding: 12px;
    background-color: #1d4b37;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.produto button:hover {
    background-color: #2f7253;
    transform: translateY(-2px);
}


.badge {
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}

.badge.oferta {
    background-color: #c0392b;
}

.badge.novo {
    background-color: #2f7253;
}

.carrinho {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1d4b37;
    color: white;
    padding: 18px;
    border-radius: 18px;
    width: 230px;
    box-shadow: 0 14px 30px rgba(0,0,0,0.25);
}

.carrinho button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #1d4b37;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: transparent;
}

.receber-oferta {
  padding: 60px 8%;
  text-align: center;
}

.receber-oferta h3 {
  font-size: 2rem;
  color: #1f4d3a;
  margin-bottom: 20px;
}

.receber-oferta button {
  background: transparent;
  border: 2px solid #2f6f55;
  color: #2f6f55;
  padding: 14px 34px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.1rem;
}

.receber-oferta button:hover {
  background: #2f6f55;
  color: #ffffff;
}

.rodape {
  background: #1f4d3a;
  color: #ffffff;
  padding: 30px 8%;
  font-size: 1.1rem;
}

.rodape h4 {
  margin-bottom:10px;
}

.rodape-logo-destaque {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.rodape-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.rodape-links a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
}

.rodape-links a:hover {
  text-decoration: solid;
  color: #03ff10;
}

.rodape-contato p{
  display: block;
  margin-bottom: 10px;
}

.rodape-direitos {
  margin-top: 20px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
    }
}